.item {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.item a {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-weight: 700;
    transition: all 0.3s;
}

.item a:hover {
    background-color: #666;
}