.info-container {
    margin: 20px 0;
    padding: 20px;
    background-color: chocolate;
    color: #fff;
    border-radius: 5px;
}

.info-container div:nth-child(odd) {
    font-size: 12px;
    font-weight: 700;
    margin: 15px 0 5px 0;
}

.info-container div:nth-child(even) {
    font-size: 20px;
    font-weight: 400;
}

.actions-container {
    display: flex;
    justify-content: flex-end;
}

.actions-container a {
    padding: 10px;
    transition: all 0.3s;
    border-radius: 5px;
}

.actions-container a:hover {
    background-color: chocolate;
    color: #fff;
}

.actions-container a:active {
    background-color: #9e511a;
    color: #fff;
}