.answer {
    display: flex;
    height: 100px;
    min-width: 500px;
    width: 80%;
    align-self: stretch;
    margin: 0 auto;
    perspective: 1000px;
}
.answer + .answer {
    margin-top: 10px;
}

.answer-content {
    position: relative;
    display: flex;
    flex: 1;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.answer-content.answer-reveled {
    transform: rotateY(180deg)
}

.answer-font-card, .answer-back-card {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.answer-font-card {
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

.answer-back-card {
    display: flex;
    transform: rotateY(180deg);
}


.answer-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}

.answer-value {
    font-size: 1.3rem;
    font-weight: 700;
}

.answer-correct, .answer-wrong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.answer-correct {
    background-color: #2BAA6D;
}

.answer-wrong {
    background-color: #E44A4C;
}

.answer-correct .value, .answer-wrong .value {
    font-size: 1.5rem;
    font-weight: 700;
}